In [ ]:
#Abstraction

In [ ]:
from abc import ABC, abstractmethod

class Payment(ABC):
    def pay(self, amount, interest):
        pass

class CreditCard(Payment):
    def pay(self, amount, interest):
        print(f"Paid ₹{amount} + interest ₹{interest} using Credit Card")


class UPI(Payment):
    def pay(self, amount, interest):
        print(f"Paid ₹{amount} + interest ₹{interest} using UPI")

cc = CreditCard()
cc.pay(1000, 50)

upi = UPI()
upi.pay(500, 10)

Paid ₹1000 + interest ₹50 using Credit Card
Paid ₹500 + interest ₹10 using UPI

In [ ]:
from abc import ABC, abstractmethod
class Vehicle(ABC):

    def start_engine(self):
        pass

    def stop_engine(self):
        pass


class Car(Vehicle):
    def start_engine(self):
        print("Car engine started")

    def stop_engine(self):
        print("Car engine stopped")

c = Car()
c.start_engine()
c.stop_engine()

Car engine started
Car engine stopped

In [ ]:
#Execption Handling

In [ ]:
try:
    a = 10/0
    b = int("abc")
except ValueError:
    print("Could not convert to integer.")
except ZeroDivisionError:
    print("Division by zero error.")

Division by zero error.

In [ ]:
try:
    a = int("abc")
    b = 10 / 0
except ValueError:
    print("Could not convert to integer.")
except ZeroDivisionError:
    print("Division by zero error.")

Could not convert to integer.

In [ ]:
try:
    print("Trying something risky...")
    x = 1 / 0
except ZeroDivisionError:
    print("Caught division by zero.")
finally:
    print("This always runs.")

Trying something risky...
Caught division by zero.
This always runs.

In [ ]:
try:
    x=1/0
    print("Trying something risky...")
except ZeroDivisionError:
    print("Caught division by zero.")
finally:
    print("This always runs.")

Caught division by zero.
This always runs.

In [ ]:
try:
    with open("/content/sample1.txt", "r") as f:
        content = f.read()
        print(content)
except FileNotFoundError:
    print("File not found.")

File not found.

In [1]:
try:
    x = 10 / 2
except ZeroDivisionError:
    print("Error occurred")
else:
    print("No error. Result:", x)

No error. Result: 5.0

In [2]:
try:
    try:
        x = int("xyz")
    except ValueError:
        print("Inner exception caught.")
except:
    print("Outer exception caught.")

Inner exception caught.

In [5]:
try:
    try:
        x = int12
    except ValueError:
        print("Inner exception caught.")
except:
    print("Outer exception caught.")

Outer exception caught.

In [6]:
class CustomError(Exception):
    pass

try:
    raise CustomError("This is a custom error.")
except CustomError as e:
    print(e)

This is a custom error.

In [17]:
try:
    data = {"name": "Alice"}
    print(data["name"])
except KeyError:
    print("Key not found in dictionary.")

Alice

In [19]:
try:
    x = 5
    x.append(2)
except AttributeError:
    print("Invalid attribute for the object.")

Invalid attribute for the object.

In [20]:
try:
    number = int("100")
except ValueError:
    print("Conversion failed.")
else:
    print("Conversion successful:", number)

Conversion successful: 100

In [21]:
try:
    number = int("abc")
except ValueError:
    print("Conversion failed.")
else:
    print("Conversion successful:", number)

Conversion failed.

In [22]:
try:
    lst = [1, 2, 3]
    print(lst[7])
except IndexError:
    print("Index out of range")
else:
    print("List item accessed")
finally:
    print("List operation done")

Index out of range
List operation done

In [24]:
try:
    lst = [1, 2, 3]
    print(lst[2])
except IndexError:
    print("Index out of range")
else:
    print("List item accessed")
finally:
    print("List operation done")

3
List item accessed
List operation done

In [25]:
data = [[1, 2], [3, 4], "invalid"]
for sublist in data:
    for item in sublist:
        print(item * 3)

3
6
9
12
iii
nnn
vvv
aaa
lll
iii
ddd