In [ ]:
Encapsulation

In [ ]:
class Bike:
    def __init__(self):
        self.brand = "Royal Enfield"

b = Bike()
print(b.brand)

Royal Enfield

In [22]:
class Employee:
    def __init__(self):
        self.name = "Chandrasekhar"
        self.salary = 70000

e = Employee()
print(e.name, e.salary)

Chandrasekhar 70000

In [23]:
class Laptop:
    def __init__(self):
        self.__serial_number = "SN-987654"

    def get_serial_number(self):
        return self.__serial_number

l = Laptop()
print(l.get_serial_number())

SN-987654

In [24]:
class Mobile:
    def __init__(self):
        self.__serial_number = "One Plus"

    def get_serial_number(self):
        return self.__serial_number

m = Mobile()
print(m.get_serial_number())

One Plus

In [25]:
class BankAccount:
    def __init__(self, holder_name, balance, pin):
        self._holder_name = holder_name      # protected
        self.__balance = balance             # private
        self.__pin = pin                     # private

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
            return f"Deposited {amount}. New balance: {self.__balance}"
        else:
            return "Invalid deposit amount"

    def withdraw(self, amount, pin):
        if pin == self.__pin and amount <= self.__balance:
            self.__balance -= amount
            return f"Withdrew {amount}. New balance: {self.__balance}"
        else:
            return "Invalid pin or insufficient funds"

    def get_balance(self, pin):
        return self.__balance if pin == self.__pin else "Access Denied"


account = BankAccount("Alice", 100, 1234)

print(account.deposit(300))

print(account.withdraw(50, 1111))

print(account.withdraw(300, 1234))

print(account.get_balance(1234))

print(account.get_balance(9999))

Deposited 300. New balance: 400
Invalid pin or insufficient funds
Withdrew 300. New balance: 100
100
Access Denied

In [27]:
class TicketCounter:
    def __init__(self, movie, total_seats):
        self.movie = movie
        self.__total_seats = total_seats

    def book_ticket(self, num_seats):
        if num_seats > 0 and num_seats <= self.__total_seats:
            self.__total_seats -= num_seats
            return f"Booked {num_seats} seats. Remaining: {self.__total_seats}"
        else:
            return "Not enough seats available"

    def cancel_ticket(self, num_seats):
        if num_seats > 0:
            self.__total_seats += num_seats
            return f"Cancelled {num_seats} seats. Remaining: {self.__total_seats}"
        else:
            return "Invalid number of seats"

    def get_remaining_seats(self):
        return self.__total_seats


t = TicketCounter("Inception", 5)
print(t.book_ticket(2))
print(t.book_ticket(4))
print(t.cancel_ticket(1))
print(t.get_remaining_seats())

Booked 2 seats. Remaining: 3
Not enough seats available
Cancelled 1 seats. Remaining: 4
4